<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab Forms</title>
    <link rel="stylesheet" href="style.css">
    <script type = "text/javascript"
            src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "https://www.tutorialspoint.com/jquery/jquery-3.6.0.js">
    </script>
</head>
<body>
    <div class="container">
        <div class="div" id="front">
            <div class="login">
                <div class="circle"></div>
                <h2 id="login-h2"> LOGIN </h2>
                <label class="input">
                    Email
                    <input id="frontEmail" class="in" type="email">
                </label>
                <div id="password">
                    <label class="input">
                        <input id="frontPassword" class="in" type="password">
                    </label>
                </div>

                <div class="for-btn">
                    <button class="btn" onclick="log_php(frontEmail.value, frontPassword.value)"> SUBMIT </button>
                </div>
            </div>
            <div class="for-txt">
                Not have an account?
                <div class="decoration" onclick="Rotate()"> Sign up here </div>
            </div>

        </div>


        <div class="div" id="back">
            <div class="login">
                    <div class="circle"></div>
                    <h2 id="sign-up"> SIGN UP</h2>
                <label class="input">
                    Name
                    <input id="backName" class="in" type="text">
                </label>

                <label class="input">
                    Surname
                    <input id="backSurname" class="in" type="text">
                </label>

                <label class="input">
                    Email
                    <input id="backEmail" class="in" type="text">
                </label>

                <label class="input">
                    Password
                    <input id="backPassword" class="in" type="password">
                </label>

                <label class="input">
                    Confirm Password
                    <input id="backConfirm" class="in" type="password">
                </label>

                <div id="for-btn" class="for-btn">
                    <button class="btn" onclick="reg_php(backEmail.value, backPassword.value, backConfirm.value)"> SUBMIT </button>
                </div>

                <div class="back-txt for-txt">
                    By clicking the Sign-Up button, you agree to our
                    <div id="line">
                        <div class="decoration">Terms and Condition</div> and <div class="decoration">Policy Privacy</div>
                    </div>
                </div>

            </div>

            <div class="for-txt">
                Already have an account?
                <div class="decoration" onclick="Reset()"> Login here </div>
            </div>
        </div>

    </div>
</body>
<script>
</script>
</html>