{% extends 'main.html' %}/


{#<form method="POST" action="" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{##}
{#    {{ form.as_p }}#}
{##}
{#    <input type="submit" value="Submit">#}
{##}
{#</form>#}







{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
    <form method="POST">
        {% csrf_token %}
        <div class="hero">
      <div class="card">
        <h1>@{{ p.user.username }}</h1>
        <img src="{{ p.img.url }}" id="profile" alt="">
        <textarea class="status" rows="6">{{ p.status }}</textarea>
{#        <label for="input-file" class="edit-label" id="file">update image</label>#}
{#        <input type="file" accept="image/*" id="input-file">#}
          {{ form.img }}
        <button class="submit-btn" style="margin-top: -5px">Submit</button>

      </div>
    </div>
    </form>

    <script>
      let profile = document.getElementById("profile");
      let inputFile = document.getElementById("input-file");

      inputFile.onchange = function (){
        profile.src = URL.createObjectURL(inputFile.files[0]);
      }

</script>

{% endblock %}