{% extends 'main.html' %}/


{#<form method="POST" action="" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{##}
{#    {{ form.as_p }}#}
{##}
{#    <input type="submit" value="Submit">#}
{##}
{#</form>#}







{% block content %}
<body>
<nav class="navbar">
    <img src="Aisaka_Taiga.jpg" class="logo" alt="">
    <form class="search-box">
        <input type="text" placeholder="search" name="search-query" id="search-input">
        <button class="search-btn" type="submit"><img src="search.png" class="search-icon" alt=""></button>
    </form>
    <div class="nav-links">
        <a href="#" class="nav-links"><img src="home-nofill.png" class="nav-icon" alt=""></a>
        <a href="#" class="nav-links"><img src="Aisaka_Taiga.jpg" class="nav-icon user-profile" alt="" id="icon-img"></a>
    </div>
</nav>
{% load static %}
<div class="grid-container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="grid-img">

        <img src="{{ img_url }}" id="profile-img">

















            {{ form.img }}











{#        <input type="file" accept="image/*" name="image" style="display: none"#}
{#               id="load">#}
        <label for="id_img"><img src="{% static 'accounts/img/upload.png' %}" alt="" class="upload-profile-icon" style="width:100px; height:100px;"></label>
    </div>

    <div class="grid-name">
    <textarea></textarea>
    </div>

    </form>
    <div class="grid-user">
        @aki_never_used
    </div>
    <div class="grid-btn">
        <a>Edit</a>
        <img src="{% static 'accounts/img/pencil.png' %}">
        <button style="pointer-events: none">logout</button>
    </div>
    <div class="grid-pub">
        10000 publications
    </div>
    <div class="grid-sub1">
        10000 subscribers
    </div>
    <div class="grid-sub2">
        10000 subscriptions
    </div>

</div>
<button class="submit-btn" style="margin-top: 20px">Submit</button>
<script>

</script>

{% endblock %}