{#{% extends 'main.html' %}/#}


{#<form method="POST" action="" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{##}
{#    {{ form.as_p }}#}
{##}
{#    <input type="submit" value="Submit">#}
{##}
{#</form>#}







{% block content %}
    {% load static %}

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.img }}
    {{ form.status }}


    <input type="submit" value="Submit">


    </form>
{#    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">#}
{#    <form method="POST" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <div class="hero">#}
{#      <div class="card">#}
{#        <h1>@{{ p.user.username }}</h1>#}
{#        <img src="{{ p.img.url }}" id="profile" alt="">#}
{#        {{ form.status }}#}
{#          {{ form.img }}#}
{#        <label for="input-file" class="edit-label" id="file">update image</label>#}
{#        <input type="file" accept="image/*" id="input-file">#}
{#        <button class="submit-btn" style="margin-top: -5px">Submit</button>#}
{#          <input type="submit">#}
{##}
{#      </div>#}
{#    </div>#}
{#    </form>#}

    <script>
      let profile = document.getElementById("profile");
      let inputFile = document.getElementById("input-file");

      inputFile.onchange = function (){
        profile.src = URL.createObjectURL(inputFile.files[0]);
      }

</script>

{% endblock %}