<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
    {% load static %}
    <link href="{% static 'accounts/css/main.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <img src="{% static 'accounts/img/Aisaka_Taiga.jpg' %}" class="logo" alt="">
    <form class="search-box">
        <input type="text" placeholder="search" name="search-query" id="search-input">
        <button class="search-btn" type="submit"><img src="{% static 'accounts/img/search.png' %}" class="search-icon" alt=""></button>
    </form>
    <div class="nav-links">
        <a href="#" class="nav-links"><img src="{% static 'accounts/img/home-fill.png' %}" class="nav-icon" alt=""></a>
        <a href="profile/" class="nav-links"><img src="{% static 'accounts/img/Aisaka_Taiga.jpg' %}" class="nav-icon user-profile" alt=""></a>
    </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>