<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
    {% load static %}
    <link href="{% static 'accounts/css/main.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <img src="{% static 'accounts/img/logo.jpg' %}" class="logo" alt="">
    <form class="search-box" method="GET" action="">
        {% block search %}
        {% endblock %}
    </form>
    <div class="nav-links">
        <a href="{% url 'home' %}" class="nav-links"><img src="{% static 'accounts/img/home-fill.png' %}" class="nav-icon" alt=""></a>
        {% block brand %}
            <a href="{% url 'profile' username=user.username %}" class="nav-links"><img src="{% static 'accounts/img/def.jpg' %}" class="nav-icon user-profile" alt=""></a>
        {% endblock %}
    </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>