{% extends 'base.html' %}

{% block content %}
    <div class="div" id="back">
            <div class="login">
                    <div class="circle"></div>
                    <h2 id="sign-up"> SIGN UP</h2>
                <label class="input">
                    Username
                    <input class="in" type="text" name="username">
                </label>

                <label class="input">
                    Email
                    <input id="backEmail" class="in" type="text" name="email">
                </label>

                <label class="input">
                    Password
                    <input id="backPassword" class="in" type="password" name="password1">
                </label>

                <label class="input">
                    Confirm Password
                    <input id="backConfirm" class="in" type="password" name="password2">
                </label>

                <div id="for-btn" class="for-btn">
                    <button class="btn"> SUBMIT </button>
                </div>

                <div class="back-txt for-txt">
                    By clicking the Sign-Up button, you agree to our
                    <div id="line">
                        <div class="decoration">Terms and Condition</div> and <div class="decoration">Policy Privacy</div>
                    </div>
                </div>

            </div>

            <div class="for-txt">
                Already have an account?
                <div class="decoration" onclick="Reset()"> Login here </div>
            </div>
        </div>
{% endblock %}