{% extends 'base.html' %}

{% block content %}


    <form method="POST" action="">
    {% csrf_token %}
    <div class="div" id="back">
            <div class="login">
                    <div class="circle"></div>
                    <h2 id="sign-up"> SIGN UP</h2>
                    {{ form.errors }}
                <label class="input">
                    Username
                    {{ form.username }}
                </label>

                <label class="input">
                    First Name
                    {{ form.first_name }}
                </label>

                <label class="input">
                    Last Name
                    {{ form.last_name }}
                </label>

                <label class="input">
                    Email
                    {{ form.email }}
                </label>

                <label class="input">
                    Password
                    {{ form.password1 }}
                </label>

                <label class="input">
                    Confirm Password
                    {{ form.password2 }}
                </label>

                <div id="for-btn" class="for-btn">
                    <input class="btn" type="submit" value="SUBMIT">
                </div>

                <div class="back-txt for-txt">
                    By clicking the Sign-Up button, you agree to our
                    <div id="line">
                        <div class="decoration">Terms and Condition</div> and <div class="decoration">Policy Privacy</div>
                    </div>
                </div>
            </div>

            <div class="for-txt">
                Already have an account?
                <a href="{% url 'login' %}" class="decoration" onclick="Reset()"> Login here </a>
            </div>
        </div>




    </form>
{% endblock %}