{% extends 'main.html' %}

{% block brand %}
{#            {% if global_profile.img %}#}
{#            {% else %}#}
{#                <img src="{% static 'accounts/img/def.jpg' %}">#}
{#            {% endif %}#}

            <a href="{% url 'profile' username=global_profile.user.username %}" class="nav-links"><img src="{{ global_profile.img.url }}" class="nav-icon user-profile" alt=""></a>

{% endblock %}

{% block content %}
    {% load static %}
    <div class="grid-container">
  <div class="grid-img">
    {% if profile.img %}
              <img src="{{ profile.img.url }}" alt="">
            {% else %}
              <img src="{% static 'accounts/img/def.jpg' %}">
            {% endif %}
  </div>
  <div class="grid-user">
      @{{ profile.user.username }}
  </div>
  <div class="grid-btn">
      {% if profile.user == global_profile.user %}
        <a href="{% url 'edit_profile' username=global_profile.user.username %}">Edit</a>
        <img src="{% static 'accounts/img/pencil.png' %}">
          <a href="{% url 'logout' %}">Logout</a>
      {% else %}
          <a href="{% url 'logout' %}">Follow</a>
      {% endif %}
  </div>
  <div class="grid-pub">
    {{ publications }}
  </div>
  <div class="grid-sub1">
    10000 subscribers
  </div>
  <div class="grid-sub2">
    10000 subscriptions
  </div>
  <div class="grid-name">
      {% if profile.status %}
          {{ profile.status }}
      {% endif %}
  </div>
</div>
<section class="main">
  <div class="post-container">
        {% for p in posts %}
                <div class="post">
      <div class="post-header">
        <img src="{% static 'accounts/img/Aisaka_Taiga.jpg' %}" class="user-icon" alt="">
        <p class="username">{{ p.creator.username }}</p>
      </div>
      <div class="post-feed">
        <div class="post-img-container">
            {% if p.img %}
              <img src="{{ p.img.url }}" alt="">
            {% else %}
              <img src="{% static 'accounts/img/def.jpg' %}">
            {% endif %}
        </div>
      </div>
      <div class="post-detail">
        <div class="detail-intracables">
          <img src="{% static 'accounts/img/heart-nofill.png' %}" class="like-btn" alt="">
          <img src="{% static 'accounts/img/comment-nofill.png' %}" class="comment-btn" alt="">
        </div>
        <span class="likes">2.7k likes</span>
        <p class="username">@{{ profile.user.username }}</p>
        <p class="post-des">{{ p.text }}</p>

        <div class="comment-box">
          <input type="text" id="comment-input" placeholder="Add a comment">
          <button class="add-comment-btn"><img src="{% static 'accounts/img/comment-nofill.png' %}" alt=""></button>
        </div>

        <span class="comment-count">300 comments</span>
      </div>
    </div>
        {% endfor %}
  </div>
</section >
{% endblock %}