<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
  <link href="final.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
  <img src="Aisaka_Taiga.jpg" class="logo" alt="">
  <form class="search-box">
    <input type="text" placeholder="search" name="search-query" id="search-input">
    <button class="search-btn" type="submit"><img src="search.png" class="search-icon" alt=""></button>
  </form>
  <div class="nav-links">
    <a href="#" class="nav-links"><img src="home-nofill.png" class="nav-icon" alt=""></a>
    <a href="#" class="nav-links"><img src="Aisaka_Taiga.jpg" class="nav-icon user-profile" alt=""></a>
  </div>
</nav>
<div class="grid-container">
  <div class="grid-img">
    <img src="Aisaka_Taiga.jpg">
  </div>
  <div class="grid-user">
    @aki_never_used
  </div>
  <div class="grid-btn">
    <button>logout</button>
  </div>
  <div class="grid-pub">
    10000 publications
  </div>
  <div class="grid-sub1">
    10000 subscribers
  </div>
  <div class="grid-sub2">
    10000 subscriptions
  </div>
  <div class="grid-name">
    Madiyar
  </div>
</div>
<section class="main">
  <div class="post-container">
    <div class="post">
      <div class="post-header">
        <img src="Aisaka_Taiga.jpg" class="user-icon" alt="">
        <p class="username">@aki_never_used</p>
      </div>
      <div class="post-feed">
        <div class="post-img-container">
          <img src="Aisaka_Taiga.jpg" alt="">
        </div>
      </div>
      <div class="post-detail">
        <div class="detail-intracables">
          <img src="heart-nofill.png" class="like-btn" alt="">
          <img src="comment-nofill.png" class="comment-btn" alt="">
        </div>
        <span class="likes">2.7k likes</span>
        <p class="username">@aki_never_used</p>
        <p class="post-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsa incidunt obcaecati esse illo voluptates libero debitis nisi. Id tempora vel illum vitae temporibus commodi non cupiditate atque voluptas. Ipsam.</p>

        <div class="comment-box">
          <input type="text" id="comment-input" placeholder="Add a comment">
          <button class="add-comment-btn"><img src="comment-nofill.png" alt=""></button>
        </div>

        <span class="comment-count">300 comments</span>
      </div>
    </div>
  </div>
</section >
</body>
</html>